<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Odin Recipes</title>
</head>
<body>
    <div class = "page">

    
        <section >
            <img src = "{{ url_for('static', filename='images/odin.svg') }}" style="margin-bottom: 0.5%;margin-top: 3%; padding-left: 35%;width:30%; height: auto;" >
            <h1>Odin Recipes</h1>
        </section>
        <section class= "recipes">
                <a href = lasagna>
                    <div class= "recipe_box">   
                        <strong>
                            <img src = "{{ url_for('static', filename='images/Lasagna.jpg') }}" class = "img_list">
                                <div class = "recipe_title">Lasagna</div> 
                        </strong>
                    </div>
                </a>
                <a href = pizza>
                    <div class= "recipe_box">
                        <strong>
                            <img src = "{{ url_for('static', filename='images/pizza.jpg') }}" class = "img_list">
                            <div class = "recipe_title" >Pizza</div>
                        </strong>
                    </div>
                </a>
                <a href = brownies> 
                    <div class= "recipe_box">
                        <strong>
                            <img src = "{{ url_for('static', filename='images/brownies.jpg') }}" class = "img_list">
                            <div class = "recipe_title"  >Brownies</div>
                        </strong>
                    </div>
                </a>
            <!-- 
                <a href = "recipes/[FOOD_TITLE].html"> 
                    <div class= "recipe_box">
                        <strong>
                            <img href = "recipes/[FOOD_TITLE].html" src = "../images/[FOOD_TITLE].jpg" class = "img_list">
                            <div class = "recipe_title"  >[FOOD_TITLE]</div>
                        </strong>
                    </div>
                </a>    


            -->
        </section>
    </div>    
</body>
</html>