<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "{{ url_for('static', filename='recipe_styles.css') }}">
        <title>Brownies Recipe</title>
    </head>
    <body>
        <section class="page">
            
            <div class = "recipe_title_page">
                <div class = "flex ">
                    <a href="/">
                        <img class = "odin-title" src = "{{ url_for('static', filename='images/odin.svg') }}"  >
                    </a>
                </div>
                <div id = "flex">
                    <a href="/">
                        <h1> Brownies </h1>
                    </a>
                </div>
                <div class = "flex">
                    <a href="/">
                        <img class = "odin-title"  src = "{{ url_for('static', filename='images/odin.svg') }}"  >
                    </a>
                </div>
            </div>
            
            <section class = "recipe">
                <section class = "description">
                    <div>
                        <img src ="{{ url_for('static', filename='images/brownies.jpg') }}" class = "recipe_img"></img>
                        <div class="description_text">These brownies always turn out!</div>
                    </div>
                </section>
                <section class = "ingredients">
                    <h3>Ingredients</h3>
                    <ul>
                        <li class = "star"> <p>1/2 cup butter</p></li>
                        <li class = "star"> <p>1 cup white sugar</p></li>
                        <li class = "star"> <p>2 eggs</p></li>
                        <li class = "star"> <p>1 teaspoon vanilla extract</p></li>
                        <li class = "star"> <p>1/3 cup unsweetened cocoa powder</p></li>
                        <li class = "star"> <p>1/2 cup all-purpose flour</p> </li>
                        <li class = "star"> <p>1/4 teaspoon salt</p></li>
                        <li class = "star"> <p>1/4 teaspoon baking powder</p></li>
                    </ul>
                </section>
                <section class = "Steps">
                    <h3>Steps</h3>
                    <ol>
                        <li class = "star"> <p>Brown the ground beef and Italian sausage in a large skillet over medium-high heat. Drain excess grease. Stir in the water and black olives, and season with basil, garlic powder, oregano, sage, pepper, minced garlic, and onion flakes. Simmer for about 15 minutes, stirring frequently. Stir in the marinara sauce, and remove from the heat.</p></li>
                        <li class = "star"><p>Preheat the oven to 375 degrees F (190 degrees C).</p></li>
                        <li class = "star"><p>Place a layer of the meat and sauce in the bottom of a 9x13 inch baking dish. Cover with a layer of dry noodles. Spread a thin layer of ricotta cheese over the noodles, and sprinkle with a little mozzarella cheese. Cover with another layer of sauce, and repeat layering ending with the meat and sauce on top. Reserve about 1/2 cup of mozzarella cheese for later.</p></li>
                        <li class = "star"><p>Bake for 45 minutes in the preheated oven, but check after 30 minutes depending on how thick the lasagna is. Lasagna is cooked when you can easily stick a knife into it. Sprinkle the reserved cheese over the top, and return to the oven for about 10 minutes for a nice melted cheese topping.</p></li>    
                    </ol>
                </section>
            </section>
            

        </section>
    </body>
</html>